.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: #fff;

  z-index: 999;

  opacity: 0;
  visibility: hidden;

  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 168px;

  width: 100%;
  height: 100%;

  padding: 72px 16px 40px;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;

  border-radius: 50%;
  border: 1px solid rgba(46, 47, 66, 0.4);

  background-color: #e7e9fc;

  display: flex;
  align-items: center;
  justify-content: center;

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  color: #2e2f42;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-active-link {
  color: #404bbf;
}

.mobile-phone {
  font-weight: 700;
  font-size: 24px;
  color: #4d5ae5;
}

.mobile-email {
  font-size: 20px;
  color: #434455;
}

.mobile-address-list {
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-socials-list {
  display: flex;
  gap: 40px;
  margin-top: 48px;
}

.mobile-socials-link {
  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: #4d5ae5;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-socials-link svg {
  fill: #f4f4fd;
}

.close-btn {
  fill: #2e2f42;
}

.mobile-nav-link,
.mobile-phone,
.mobile-email {
  text-decoration: none;
}

.mobile-phone,
.mobile-email {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: #404bbf;
}

.mobile-phone:hover,
.mobile-phone:focus,
.mobile-email:hover,
.mobile-email:focus {
  color: #404bbf;
}

.mobile-socials-link:hover,
.mobile-socials-link:focus {
  background-color: #404bbf;
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
  background-color: #404bbf;
  border-color: #404bbf;
}

.mobile-menu-close-btn:hover .close-btn,
.mobile-menu-close-btn:focus .close-btn {
  fill: #ffffff;
}
