.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);

  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: relative;

  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px;
  width: 408px;
  height: 584px;

  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.modal-cross-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  background-color: #e7e9fc;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 24px;
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border-color: transparent;
}

.modal-close-btn:hover .modal-cross-icon,
.modal-close-btn:focus .modal-cross-icon {
  fill: #ffffff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 16px;
}

.modal-form .username,
.modal-form .phone,
.modal-form .email,
.modal-form .comment {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  padding-bottom: 4px;
}

.name-field,
.phone-field,
.email-field {
  display: block;

  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  margin-bottom: 8px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrapper {
  position: relative;
}

.modal-user-icon,
.modal-phone-icon,
.modal-email-icon {
  fill: #2e2f42;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 16px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-field {
  resize: none;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  margin-bottom: 16px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-field::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

.name-field:focus,
.phone-field:focus,
.email-field:focus,
.comment-field:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.name-field:focus + .modal-user-icon,
.phone-field:focus + .modal-phone-icon,
.email-field:focus + .modal-email-icon {
  fill: #4d5ae5;
}

.privacy {
  position: absolute;
  opacity: 0;
}

.privacy-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.custom-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;

  cursor: pointer;

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.checkbox-icon {
  fill: #f4f4fd;
  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy:checked + .privacy-checkbox .custom-checkbox {
  background-color: #404bbf;
  border-color: #404bbf;
}

.privacy:checked + .privacy-checkbox .checkbox-icon {
  opacity: 1;
}

.modal-btn-send {
  display: block;
  margin: 0 auto;

  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;

  border-radius: 4px;
  width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-send:hover,
.modal-btn-send:focus {
  background-color: #404bbf;
}
